@font-face
{
    font-family:'MTCORSVA.ttf';
    src:url('font/MTCORSVA.ttf');format('ttf');	
	src:url('font/MTCORSVA.ttf');format('eot');	
    src:url('font/MTCORSVA.ttf');format('woff');
    src:url('font/arial_narrow_7.ttf');format('ttf');
    
    
}

body
{
    width:95%;
    margin:auto;
    background-color:#7f2729;
}

input
{
    margin: 2%;
    width: 95%;
    text-align: center;
    margin-top: 2%;
    height: 30px;
    font-size: 120%;
}

@media screen and (min-width: 600px) 
{
    body
    {
        font-size: 200%;
    }
    
    input
    {
        margin: 0px;
        margin-left: 5%;
        width: 90%;
        height: 10%;
        margin-top: 2%;
        font-size: 150%;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px)
{
    input
    {
        margin: 0px;
        margin-left: 2%;
        width: 90%;
        height: 10%;
        margin-top: 2%;
        font-size: 150%;
    }
}

a
{
    text-decoration: none;
}

p
{
    text-align: center;
    padding: 1%;
}

.red
{
    color: red;
}

#Fraser
{
    width:30%;
    margin-left:35%;
    margin-bottom: 10px;
}
#Vieux
{
    width:20%;
    margin-left: 40%;
}

@media screen and (min-width: 481px) 
{
    #ClearVieux
       {
        width:1000px;
        height:150px;
    }
}

.Barre
{
    width:100%;
}

#bas
{
    margin-bottom: -8%;
}

nav
{
    margin-top:-5%;
    width:100%;
    height:100%;
	background-size: 100%;
    background-image:url('../img/Background.jpg');
}

h1
{
    font-family:'MTCORSVA.ttf';
    text-align:center;
    color:#7f2729;
	margin-top: 0%;
    margin-bottom: -5%;
    font-size: 150%;
}

h2
{
    text-align:center;
    margin-top:5%;
    color:#006f51;
    font-size: 100%;
	margin-bottom: 0%;
}

h5
{
    margin-top:12%;
    margin-left:5%;
    color:#7f2729;
    font-size: 10%;
}

.question , h6
{
    text-align:center;
    font-family:'MTCORSVA.ttf';
    color:#DCD1BB;
    background-color:#7f2729;
    border-style:groove;
    font-size: 120%;
    
}


.menu, h6
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#SuivPrec a
{
    
    color:#7f2729;
    font-size: 120%;
}

    #Valider
    {
      
        margin-right:10px;
        float:right;
    }

    #Quitter
    {
      
        margin-left:5px;
        float:left;
        margin-top: 5%;
        width: 42%;
    }
    
#Retour
{
    font-family:'MTCORSVA.ttf';
    color:#7f2729;
    font-size: 120%;
    width: 100%;
    height: 53px;
}

.LesInputs
{
    width:100%;
    text-align: center;
    display: inline-block;
}

    .LesInputs input
    {
        margin: 0px;
        height: 10%;
        width:6%;
    }

@media screen and (min-width: 481px) 
{
    .LesInputs input
    {
        margin: 0px;
        height: 7%;
        width:7%;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px)
{
    .LesInputs input
    {
        margin: 0px;
        height: 7%;
        width:3%;
    }
}

#attente-Logo
{
    text-align: center;
    width: 60%;
    height: 50%;
    margin-top: 10%;
    margin:auto;
}

.Video
{
    width:100%;
    margin-top: 5%;
}

.ImageSimple
{
    width:35%;
    margin-left: 28%;
    padding: 5%;
    padding-bottom: 2%;
}
#NoteObtenue
{	
    font-family:'MTCORSVA.ttf';
    text-align: center;
    font-size: 400%;
}


.ImageDouble
{
    width:40%;
    margin-left: 1%;
    margin-top: 2%;
    padding: 4%
}

.PlusieursImages 
{
    width: 30%;
    margin-left: 2%;
    margin-bottom: 2%;
}

#NumeroQuestion
{
    
    text-align: center;
    color: #7F2729;
    font-size:200%;
}
